/*

Title: Coconuts Stylesheet

Author: Talia Brown

*/

body {
	background: #ffffff;
	font-size: 12px;
	font-family: "Open Sans", Helvetica, sans-serif;
	margin:0;
}

h1 {
	font-family:"Century Gothic", Helvetica, sans-serif;
}

a {
	color: #ff7900;
	text-decoration:none;
}

a:hover {
	color: #f6242a;
}

#coco-logo {
  float: left;
  margin: 5px 2em 0 0;

}

#coco-logo img {
  display: block;
  width:86px;
  height:25px;
}

@media only screen and (min-width: 768px) {
  #coco-logo img{
    margin: 23px 0 0 5%;
    width: 171px;
    height: 50px;
  }
}





/* Navigation
------------------------------------------*/

nav ul {
	padding:0;
	list-style: none;
	text-transform: uppercase;
	display: flex;
	justify-content: flex-start;
}


.nav-collapse {
  font-family:"Century Gothic", Helvetica, sans-serif;
  text-transform: uppercase
  background-color: #ffffff; 

}

@media (min-width: 36em) {
  .nav-collapse {
    border-top: 1px solid #cccccc; 
  } 
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  display: block;
  overflow: hidden; 
}

@media (min-width: 36em) {
  .js .nav-collapse {
      max-height: none; 
  } 
}

.nav-collapse ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 60em; 
}

@media (min-width: 36em) {
  .nav-collapse ul {
    width: 88%; 
  } 
}

.nav-collapse li {
  -moz-transition: box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  -webkit-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  border-top: 1px solid #cccccc;

}

.nav-collapse li:hover {

}

.nav-collapse li:active {
  -moz-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  background-color: #e4e4e4;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDNkMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3d3d3), color-stop(100%, #e4e4e4));
  background-image: -moz-linear-gradient(#d3d3d3, #e4e4e4);
  background-image: -webkit-linear-gradient(#d3d3d3, #e4e4e4);
  background-image: linear-gradient(#d3d3d3, #e4e4e4); 
}

.nav-collapse li.active {
  background-color: white; 
}

@media (min-width: 36em) {
  .nav-collapse li {
  	display: inline-block;
    float: left;
    border-top: 0;
}

.nav-collapse a {
  display: block;
  padding: 0.5em 6%;
  color: #cccccc; 
  text-decoration: none; 
}

.nav-collapse a:hover, .nav-collapse a:visited {
  color: #ff7900;
  text-decoration: none; 
}

.nav-collapse a:active {
  color: #1a1a1a;
  text-decoration: none; 
}

@media (min-width: 32em) {
  .nav-collapse a {
      padding: 0.5em 1em; 
  } 
}

.nav-collapse.opened {
  max-height: 9999px; 
}

/**
 * Disable `pointer-events` so that touch taps are processed immediately
 * (otherwise a tap delay is used before the event fires).
 */

.disable-pointer-events {
  pointer-events: none !important; 
}

/**
 * Navigation toggle show/hide button for mobile first navigation.
 *
 * This HTML is generated by JavaScript.
 *
 * 1. Disables the default bubble shown when you touch and hold a touch target.
 *
 * Example HTML:
 *
 * <a class="nav-toggle">
 */

.nav-toggle {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  -webkit-touch-callout: none; /* 1 */
  float: right;
  margin-right: 6%;
  border: 1px solid #cccccc;
  width: 32px;
  height: 32px;
  background-image: url("images/hamburger.png");
  background-size: 32px 32px; 
}

@media (min-width: 36em) {
  .nav-toggle {
    display: none; 
  } 
}
  
.nav-toggle:hover, .nav-toggle.active {
  background-color: #eeeeee; 
}

.nav-toggle:active {
  background-color: #cccccc; 
}


/* Layout
------------------------------------------*/

.sticky {
	position: fixed;
	top: 0;
	width:100%;
	background:#ffffff;
	background: rgba(255,255,255,0.7);

}

header,
.container,
footer {
	margin: 0 auto;
	width:88%;
	max-width: 960px;
}

.wrapper {
	background: #ffffff;
	padding:1em 0;
}

section {
	padding-top:2em;
}


/* Grid -------------------------------------*/

/* *********************************************************************************************************************
 * Main container for all
 */
.wrapper-1000, .wrapper-1200 {
	margin: 0 auto;
	padding: 0 0 0 1%; 
}

.onepcssgrid-1200 {
	max-width: 1220px;
}

.onepcssgrid-1000 {
	max-width: 1020px;
}

.onerow {
	clear: both;
	padding: 0 10px;
}





/* *********************************************************************************************************************
 * Common columns definitions
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	margin: 0 3% 0 0;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin: 0;
}

.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }

.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img {
	width: 100%;
	height: auto;
	display: block;
}





/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or bigger - correct percentage math
 */
@media all and (min-width: 1024px) {
	.onepcssgrid-1000 {
		max-width: 1000px;
	}

	.onepcssgrid-1000 .onerow {
		padding: 0;
	}
}





/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 600px) {
	.onerow {
	}

	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
		float: none;
		width: 99%;
	}
}